@font-face
    font-family 'agave'
    font-weight normal
    font-style normal
    src url('../../fonts/agave.ttf')

@font-face
    font-family 'anka-coder'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/anka-coder-bold-italic.ttf')

@font-face
    font-family 'anka-coder'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/anka-coder-bold.ttf')

@font-face
    font-family 'anka-coder'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/anka-coder-italic.ttf')

@font-face
    font-family 'anka-coder'
    font-weight normal
    font-style normal
    src url('../../fonts/anka-coder.ttf')

@font-face
    font-family 'anonymous-pro'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/anonymous-pro-bold-italic.ttf')

@font-face
    font-family 'anonymous-pro'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/anonymous-pro-bold.ttf')

@font-face
    font-family 'anonymous-pro'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/anonymous-pro-italic.ttf')

@font-face
    font-family 'anonymous-pro'
    font-weight normal
    font-style normal
    src url('../../fonts/anonymous-pro.ttf')

@font-face
    font-family 'apl2741'
    font-weight normal
    font-style normal
    src url('../../fonts/apl2741.ttf')

@font-face
    font-family 'apl385'
    font-weight normal
    font-style normal
    src url('../../fonts/apl385.ttf')

@font-face
    font-family 'aurulent'
    font-weight normal
    font-style normal
    src url('../../fonts/aurulent.otf')

@font-face
    font-family 'average'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/average-bold.woff')

@font-face
    font-family 'average'
    font-weight normal
    font-style italic
    src url('../../fonts/bold-italic/average-bold-italic.woff')

@font-face
    font-family 'average'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/average-italic.woff')

@font-face
    font-family 'average'
    font-weight normal
    font-style normal
    src url('../../fonts/average.woff')

@font-face
    font-family 'bedstead'
    font-weight normal
    font-style normal
    src url('../../fonts/bedstead.otf')

@font-face
    font-family 'b612-mono'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/b612-mono-bold-italic.ttf')

@font-face
    font-family 'b612-mono'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/b612-mono-bold.ttf')

@font-face
    font-family 'b612-mono'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/b612-mono-italic.ttf')

@font-face
    font-family 'b612-mono'
    font-weight normal
    font-style normal
    src url('../../fonts/b612-mono.ttf')

@font-face
    font-family 'bitstream-vera'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/bitstream-vera-bold-italic.woff')

@font-face
    font-family 'bitstream-vera'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/bitstream-vera-bold.woff')

@font-face
    font-family 'bitstream-vera'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/bitstream-vera-italic.woff')

@font-face
    font-family 'bitstream-vera'
    font-weight normal
    font-style normal
    src url('../../fonts/bitstream-vera.woff')

@font-face
    font-family 'borg-sans-mono'
    font-weight normal
    font-style normal
    src url('../../fonts/borg-sans-mono.ttf')

@font-face
    font-family 'bpmono'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/bpmono-bold.woff')

@font-face
    font-family 'bpmono'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/bpmono-italic.woff')

@font-face
    font-family 'bpmono'
    font-weight normal
    font-style normal
    src url('../../fonts/bpmono.woff')

@font-face
    font-family 'bront-ubuntu'
    font-weight normal
    font-style normal
    src url('../../fonts/bront-ubuntu.ttf')

@font-face
    font-family 'bront-dejavu'
    font-weight normal
    font-style normal
    src url('../../fonts/bront-dejavu.ttf')

@font-face
    font-family 'camingocode'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/camingocode-bold-italic.woff')

@font-face
    font-family 'camingocode'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/camingocode-bold.woff')

@font-face
    font-family 'camingocode'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/camingocode-italic.woff')

@font-face
    font-family 'camingocode'
    font-weight normal
    font-style normal
    src url('../../fonts/camingocode.woff')

@font-face
    font-family 'cartograph'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/cartograph-bold-italic.woff')

@font-face
    font-family 'cartograph'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/cartograph-bold.woff')

@font-face
    font-family 'cartograph'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/cartograph-italic.woff')

@font-face
    font-family 'cartograph'
    font-weight normal
    font-style normal
    src url('../../fonts/cartograph.woff')

@font-face
    font-family 'cascadia-code'
    font-weight normal
    font-style normal
    src url('../../fonts/cascadia-code.ttf')

@font-face
    font-family 'code-new-roman'
    font-weight normal
    font-style normal
    src url('../../fonts/code-new-roman.otf')

@font-face
    font-family 'comic-shanns'
    font-weight normal
    font-style normal
    src url('../../fonts/comic-shanns.otf')

@font-face
    font-family 'consolamono'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/consolamono-bold.ttf')

@font-face
    font-family 'consolamono'
    font-weight normal
    font-style normal
    src url('../../fonts/consolamono.ttf')

@font-face
    font-family 'courier-prime'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/courier-prime-bold-italic.ttf')

@font-face
    font-family 'courier-prime'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/courier-prime-bold.ttf')

@font-face
    font-family 'courier-prime'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/courier-prime-italic.ttf')

@font-face
    font-family 'courier-prime'
    font-weight normal
    font-style normal
    src url('../../fonts/courier-prime.ttf')

@font-face
    font-family 'courier-prime-code'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/courier-prime-code-italic.ttf')

@font-face
    font-family 'courier-prime-code'
    font-weight normal
    font-style normal
    src url('../../fonts/courier-prime-code.ttf')

@font-face
    font-family 'cousine'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/cousine-bold-italic.woff')

@font-face
    font-family 'cousine'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/cousine-bold.woff')

@font-face
    font-family 'cousine'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/cousine-italic.woff')

@font-face
    font-family 'cousine'
    font-weight normal
    font-style normal
    src url('../../fonts/cousine.woff')

@font-face
    font-family 'cozette'
    font-weight normal
    font-style normal
    src url('../../fonts/cozette.woff')

@font-face
    font-family 'cutive'
    font-weight normal
    font-style normal
    src url('../../fonts/cutive.ttf')

@font-face
    font-family 'd2coding'
    font-weight normal
    font-style normal
    src url('../../fonts/d2coding.ttf')

@font-face
    font-family 'd2coding'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/d2coding-bold.ttf')

@font-face
    font-family 'daddytimemono'
    font-weight normal
    font-style normal
    src url('../../fonts/daddytimemono.ttf')

@font-face
    font-family 'dejavu'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/dejavu-bold-italic.woff')

@font-face
    font-family 'dejavu'
    font-weight bold
    font-style normal
    src url('../../fonts/dejavu/dejavu-bold.woff')

@font-face
    font-family 'dejavu'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/dejavu-italic.woff')

@font-face
    font-family 'dejavu'
    font-weight normal
    font-style normal
    src url('../../fonts/dejavu.woff')

@font-face
    font-family 'droid-sans'
    font-weight normal
    font-style normal
    src url('../../fonts/droid-sans.woff')

@font-face
    font-family 'edlo'
    font-weight normal
    font-style normal
    src url('../../fonts/edlo.ttf')

@font-face
    font-family 'effects-eighty'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/effects-eighty-bold-italic.otf')

@font-face
    font-family 'effects-eighty'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/effects-eighty-bold.otf')

@font-face
    font-family 'effects-eighty'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/effects-eighty-italic.otf')

@font-face
    font-family 'effects-eighty'
    font-weight normal
    font-style normal
    src url('../../fonts/effects-eighty.otf')

@font-face
    font-family 'ellograph'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/ellograph-bold-italic.woff')

@font-face
    font-family 'ellograph'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/ellograph-bold.woff')

@font-face
    font-family 'ellograph'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/ellograph-italic.woff')

@font-face
    font-family 'ellograph'
    font-weight normal
    font-style normal
    src url('../../fonts/ellograph.woff')

@font-face
    font-family 'envy-code-r'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/envy-code-r-bold.woff')

@font-face
    font-family 'envy-code-r'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/envy-code-r-italic.woff')

@font-face
    font-family 'envy-code-r'
    font-weight normal
    font-style normal
    src url('../../fonts/envy-code-r.woff')

@font-face
    font-family 'font3270'
    font-weight normal
    font-style normal
    src url('../../fonts/font3270.woff')

@font-face
    font-family 'fairfax'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/fairfax-bold.ttf')

@font-face
    font-family 'fairfax'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/fairfax-italic.ttf')

@font-face
    font-family 'fairfax'
    font-weight normal
    font-style normal
    src url('../../fonts/fairfax.ttf')

@font-face
    font-family 'fairfax-hd'
    font-weight normal
    font-style normal
    src url('../../fonts/fairfax-hd.ttf')

@font-face
    font-family 'fairfax-serif'
    font-weight normal
    font-style normal
    src url('../../fonts/fairfax-serif.ttf')

@font-face
    font-family 'fantasque-sans'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/fantasque-sans-bold-italic.ttf')

@font-face
    font-family 'fantasque-sans'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/fantasque-sans-bold.ttf')

@font-face
    font-family 'fantasque-sans'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/fantasque-sans-italic.ttf')

@font-face
    font-family 'fantasque-sans'
    font-weight normal
    font-style normal
    src url('../../fonts/fantasque-sans.ttf')

@font-face
    font-family 'fifteen'
    font-weight normal
    font-style normal
    src url('../../fonts/fifteen.ttf')

@font-face
    font-family 'fira'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/fira-bold.woff')

@font-face
    font-family 'fira'
    font-weight normal
    font-style normal
    src url('../../fonts/fira.woff')

@font-face
    font-family 'firacode'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/firacode-bold.woff')

@font-face
    font-family 'firacode'
    font-weight normal
    font-style normal
    src url('../../fonts/firacode.woff')

@font-face
    font-family 'fixedsys'
    font-weight normal
    font-style normal
    src url('../../fonts/fixedsys.woff')

@font-face
    font-family 'fixedsys-ligatures'
    font-weight normal
    font-style normal
    src url('../../fonts/fixedsys-ligatures.ttf')

@font-face
    font-family 'generic'
    font-weight normal
    font-style normal
    src url('../../fonts/generic.otf')

@font-face
    font-family 'gnu-freefont'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/gnu-freefont-bold-italic.woff')

@font-face
    font-family 'gnu-freefont'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/gnu-freefont-bold.woff')

@font-face
    font-family 'gnu-freefont'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/gnu-freefont-italic.woff')

@font-face
    font-family 'gnu-freefont'
    font-weight normal
    font-style normal
    src url('../../fonts/gnu-freefont.woff')

@font-face
    font-family 'go-mono'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/go-mono-bold-italic.ttf')

@font-face
    font-family 'go-mono'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/go-mono-bold.ttf')

@font-face
    font-family 'go-mono'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/go-mono-italic.ttf')

@font-face
    font-family 'go-mono'
    font-weight normal
    font-style normal
    src url('../../fonts/go-mono.ttf')

@font-face
    font-family 'hack'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/hack-bold-italic.woff')

@font-face
    font-family 'hack'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/hack-bold.woff')

@font-face
    font-family 'hack'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/hack-italic.woff')

@font-face
    font-family 'hack'
    font-weight normal
    font-style normal
    src url('../../fonts/hack.woff')

@font-face
    font-family 'hasklig'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/hasklig-bold-italic.otf')

@font-face
    font-family 'hasklig'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/hasklig-bold.otf')

@font-face
    font-family 'hasklig'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/hasklig-italic.otf')

@font-face
    font-family 'hasklig'
    font-weight normal
    font-style normal
    src url('../../fonts/hasklig.otf')

@font-face
    font-family 'hermit'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/hermit-bold.otf')

@font-face
    font-family 'hermit'
    font-weight normal
    font-style normal
    src url('../../fonts/hermit.otf')

@font-face
    font-family 'ia-writer-mono'
    font-weight normal
    font-style normal
    src url('../../fonts/ia-writer-mono.woff')

@font-face
    font-family 'ia-writer-mono'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/ia-writer-mono-italic.woff')

@font-face
    font-family 'ia-writer-mono'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/ia-writer-mono-bold.woff')

@font-face
    font-family 'ia-writer-mono'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/ia-writer-mono-bold-italic.woff')

@font-face
    font-family 'iosevka'
    font-weight normal
    font-style normal
    src url('../../fonts/iosevka.woff')

@font-face
    font-family 'iosevka'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/iosevka-italic.woff')

@font-face
    font-family 'iosevka'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/iosevka-bold.woff')

@font-face
    font-family 'inconsolata'
    font-weight normal
    font-style normal
    src url('../../fonts/inconsolata.otf')

@font-face
    font-family 'inconsolata-g'
    font-weight normal
    font-style normal
    src url('../../fonts/inconsolata-g.otf')

@font-face
    font-family 'jetbrainsmono'
    font-weight normal
    font-style normal
    src url('../../fonts/jetbrainsmono-regular.ttf')

@font-face
    font-family 'jetbrainsmono'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/jetbrainsmono-italic.ttf')

@font-face
    font-family 'jetbrainsmono'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/jetbrainsmono-bold.ttf')

@font-face
    font-family 'jetbrainsmono'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/jetbrainsmono-bold-italic.ttf')

@font-face
    font-family 'latin-modern'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/latin-modern-italic.woff')

@font-face
    font-family 'latin-modern'
    font-weight normal
    font-style normal
    src url('../../fonts/latin-modern.woff')

@font-face
    font-family 'league'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/league-bold.woff')

@font-face
    font-family 'league'
    font-weight normal
    font-style normal
    src url('../../fonts/league.woff')

@font-face
    font-family 'lekton'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/lekton-bold.ttf')

@font-face
    font-family 'lekton'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/lekton-italic.ttf')

@font-face
    font-family 'lekton'
    font-weight normal
    font-style normal
    src url('../../fonts/lekton.ttf')

@font-face
    font-family 'liberation'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/liberation-bold-italic.woff')

@font-face
    font-family 'liberation'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/liberation-bold.woff')

@font-face
    font-family 'liberation'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/liberation-italic.woff')

@font-face
    font-family 'liberation'
    font-weight normal
    font-style normal
    src url('../../fonts/liberation.woff')

@font-face
    font-family 'luculent'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/luculent-bold-italic.woff')

@font-face
    font-family 'luculent'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/luculent-bold.woff')

@font-face
    font-family 'luculent'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/luculent-italic.woff')

@font-face
    font-family 'luculent'
    font-weight normal
    font-style normal
    src url('../../fonts/luculent.woff')

@font-face
    font-family 'luxi'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/luxi-bold-italic.woff')

@font-face
    font-family 'luxi'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/luxi-bold.woff')

@font-face
    font-family 'luxi'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/luxi-italic.woff')

@font-face
    font-family 'luxi'
    font-weight normal
    font-style normal
    src url('../../fonts/luxi.woff')

@font-face
    font-family 'mensch'
    font-weight normal
    font-style normal
    src url('../../fonts/mensch.ttf')

@font-face
    font-family 'meslo'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/meslo-bold-italic.woff')

@font-face
    font-family 'meslo'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/meslo-bold.woff')

@font-face
    font-family 'meslo'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/meslo-italic.woff')

@font-face
    font-family 'meslo'
    font-weight normal
    font-style normal
    src url('../../fonts/meslo.woff')

@font-face
    font-family 'monofur'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/monofur-italic.woff')

@font-face
    font-family 'monofur'
    font-weight normal
    font-style normal
    src url('../../fonts/monofur.woff')

@font-face
    font-family 'mononoki'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/mononoki-bold-italic.woff')

@font-face
    font-family 'mononoki'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/mononoki-bold.woff')

@font-face
    font-family 'mononoki'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/mononoki-italic.woff')

@font-face
    font-family 'mononoki'
    font-weight normal
    font-style normal
    src url('../../fonts/mononoki.woff')

@font-face
    font-family 'monoid'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/monoid-bold.ttf')

@font-face
    font-family 'monoid'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/monoid-italic.ttf')

@font-face
    font-family 'monoid'
    font-weight normal
    font-style normal
    src url('../../fonts/monoid.ttf')

@font-face
    font-family 'mplus'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/mplus-bold.woff')

@font-face
    font-family 'mplus'
    font-weight normal
    font-style normal
    src url('../../fonts/mplus.woff')

@font-face
    font-family 'nanum-gothic-coding'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/nanum-gothic-coding-bold.ttf')

@font-face
    font-family 'nanum-gothic-coding'
    font-weight normal
    font-style normal
    src url('../../fonts/nanum-gothic-coding.ttf')

@font-face
    font-family 'notcouriersans'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/notcouriersans-bold.woff')

@font-face
    font-family 'notcouriersans'
    font-weight normal
    font-style normal
    src url('../../fonts/notcouriersans.woff')

@font-face
    font-family 'noto'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/noto.ttf')

@font-face
    font-family 'nova'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/nova.ttf')

@font-face
    font-family 'nova'
    font-weight normal
    font-style normal
    src url('../../fonts/nova.ttf')

@font-face
    font-family 'office-code-pro'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/office-code-pro-bold-italic.woff')

@font-face
    font-family 'office-code-pro'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/office-code-pro-bold.woff')

@font-face
    font-family 'office-code-pro'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/office-code-pro-italic.woff')

@font-face
    font-family 'office-code-pro'
    font-weight normal
    font-style normal
    src url('../../fonts/office-code-pro.woff')

@font-face
    font-family 'opendyslexic'
    font-weight normal
    font-style normal
    src url('../../fonts/opendyslexic.otf')

@font-face
    font-family 'overpass'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/overpass.woff')

@font-face
    font-family 'overpass'
    font-weight normal
    font-style normal
    src url('../../fonts/overpass.woff')

@font-face
    font-family 'oxygen'
    font-weight normal
    font-style normal
    src url('../../fonts/oxygen.otf')

@font-face
    font-family 'plex-mono'
    font-weight bold
    font-style italic
    src url('../../fonts/italic/plex-mono-semibold-italic.woff')

@font-face
    font-family 'plex-mono'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/plex-mono-semibold.woff')

@font-face
    font-family 'plex-mono'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/plex-mono-italic.woff')

@font-face
    font-family 'plex-mono'
    font-weight normal
    font-style normal
    src url('../../fonts/plex-mono.woff')

@font-face
    font-family 'press-start-2p'
    font-weight normal
    font-style normal
    src url('../../fonts/press-start-2p.ttf')

@font-face
    font-family 'profont'
    font-weight normal
    font-style normal
    src url('../../fonts/profont.woff')

@font-face
    font-family 'proggy-clean'
    font-weight normal
    font-style normal
    src url('../../fonts/proggy-clean.woff')

@font-face
    font-family 'proggy-vector'
    font-weight normal
    font-style normal
    src url('../../fonts/proggy-vector.woff')

@font-face
    font-family 'pt'
    font-weight normal
    font-style normal
    src url('../../fonts/pt.woff')

@font-face
    font-family 'pt'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/pt-bold.woff')

@font-face
    font-family 'quinze'
    font-weight normal
    font-style normal
    src url('../../fonts/quinze.ttf')

@font-face
    font-family 'recursive-mono-linear'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/recursive-mono-linear-bold-italic.ttf')

@font-face
    font-family 'recursive-mono-linear'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/recursive-mono-linear-bold.ttf')

@font-face
    font-family 'recursive-mono-linear'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/recursive-mono-linear-italic.ttf')

@font-face
    font-family 'recursive-mono-linear'
    font-weight normal
    font-style normal
    src url('../../fonts/recursive-mono-linear.ttf')

@font-face
    font-family 'roboto'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/roboto-bold-italic.woff')

@font-face
    font-family 'roboto'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/roboto-bold.woff')

@font-face
    font-family 'roboto'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/roboto-italic.woff')

@font-face
    font-family 'roboto'
    font-weight normal
    font-style normal
    src url('../../fonts/roboto.woff')

@font-face
    font-family 'sax'
    font-weight normal
    font-style normal
    src url('../../fonts/sax.woff')

@font-face
    font-family 'share-tech'
    font-weight normal
    font-style normal
    src url('../../fonts/share-tech.ttf')

@font-face
    font-family 'sk-modernist'
    font-weight normal
    font-style normal
    src url('../../fonts/sk-modernist.woff')

@font-face
    font-family 'source-code-pro'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/source-code-pro-bold.woff')

@font-face
    font-family 'source-code-pro'
    font-weight normal
    font-style normal
    src url('../../fonts/source-code-pro.woff')

@font-face
    font-family 'source-code-pro'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/source-code-pro-bold-italic.woff')

@font-face
    font-family 'source-code-pro'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/source-code-pro-italic.woff')

@font-face
    font-family 'space'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/space-bold.ttf')

@font-face
    font-family 'space'
    font-weight normal
    font-style normal
    src url('../../fonts/space.ttf')

@font-face
    font-family 'space'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/space-bold-italic.ttf')

@font-face
    font-family 'space'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/space-italic.ttf')

@font-face
    font-family 'sudo'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/sudo-bold-italic.ttf')

@font-face
    font-family 'sudo'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/sudo-bold.ttf')

@font-face
    font-family 'sudo'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/sudo-italic.ttf')

@font-face
    font-family 'sudo'
    font-weight normal
    font-style normal
    src url('../../fonts/sudo.ttf')

@font-face
    font-family 'sometype-mono'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/sometype-mono-bold-italic.woff')

@font-face
    font-family 'sometype-mono'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/sometype-mono-bold.woff')

@font-face
    font-family 'sometype-mono'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/sometype-mono-regular-italic.woff')

@font-face
    font-family 'sometype-mono'
    font-weight normal
    font-style normal
    src url('../../fonts/sometype-mono-regular.woff')

@font-face
    font-family 'tex-gyre-cursor'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/tex-gyre-cursor-bold-italic.woff')

@font-face
    font-family 'tex-gyre-cursor'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/tex-gyre-cursor-bold.woff')

@font-face
    font-family 'tex-gyre-cursor'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/tex-gyre-cursor-italic.woff')

@font-face
    font-family 'tex-gyre-cursor'
    font-weight normal
    font-style normal
    src url('../../fonts/tex-gyre-cursor.woff')

@font-face
    font-family 'terminus'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/terminus-bold-italic.ttf')

@font-face
    font-family 'terminus'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/terminus-bold.ttf')

@font-face
    font-family 'terminus'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/terminus-italic.ttf')

@font-face
    font-family 'terminus'
    font-weight normal
    font-style normal
    src url('../../fonts/terminus.ttf')

@font-face
    font-family 'ubuntu'
    font-weight bold
    font-style italic
    src url('../../fonts/bold-italic/ubuntu-bold-italic.ttf')

@font-face
    font-family 'ubuntu'
    font-weight bold
    font-style normal
    src url('../../fonts/bold/ubuntu-bold.ttf')

@font-face
    font-family 'ubuntu'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/ubuntu-italic.ttf')

@font-face
    font-family 'ubuntu'
    font-weight normal
    font-style normal
    src url('../../fonts/ubuntu.ttf')

@font-face
    font-family 'unifont'
    font-weight normal
    font-style normal
    src url('../../fonts/unifont.woff')

@font-face
    font-family 'verily'
    font-weight normal
    font-style normal
    src url('../../fonts/verily.woff')

@font-face
    font-family 'victor-mono'
    font-weight normal
    font-style normal
    src url('../../fonts/victor-mono.woff')

@font-face
    font-family 'victor-mono'
    font-weight normal
    font-style italic
    src url('../../fonts/italic/victor-mono-italic.woff')

@font-face
    font-family 'vt323'
    font-weight normal
    font-style normal
    src url('../../fonts/vt323.ttf')